:root {
  --font-body: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-code: 'Inconsolata', Consolas, Menlo, 'Courier New', Courier, monospace;
  --font-size: 20px;
  --col-white: #fff;
  --col-black: #000;
  --col-primary: #2196F3;
  --col-primary-light: #90caf9;
  --col-primary-dark: #1565c0;
  --col-secondary: #9e9e9e;
  --col-secondary-light: #e0e0e0;
  --col-secondary-dark: #212121;

  --space-half: 8px;
  --space: 16px;
  --space-x2: 32px;

  font-size: var(--font-size);
  font-family: var(--font-code);
  padding: 0;
  margin: 0;
  color: var(--col-white);
  background-color: var(--col-secondary-dark);
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  margin: var(--space-x2);
}

h1 {
  font-family: var(--font-body);
  font-size: 2.4rem;
  font-weight: normal;
  padding: var(--space-half);
  margin: 0 0 var(--space-half) 0;
  color: var(--col-secondary-light);
  box-shadow: 1px 0 5px 2px var(--col-black);
}

a {
  text-decoration: none;
  color: var(--col-primary-light);
}

a:hover {
  color: var(--col-primary-dark);
}

.github {
  font-family: var(--font-body);
  position: absolute;
  padding: var(--space);
  top: 0;
  right: 0;
}

.box {
  padding: var(--space);
  border-radius: 16px;
  color: var(--col-primary-dark);
  background-color: var(--col-primary-light);
  font-weight: bold;
}

.box .box {
  color: var(--col-primary-light);
  background-color: var(--col-primary-dark);
}

/*==========*/
/*   Grid   */
/*==========*/
.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--space);
}

.span-row-2 {
  grid-row: span 2;
}